body {
    direction: rtl;
    font-family: Rubik;
    margin: 0;
    padding: 0;
    text-align: center;
    background: white;
    height: 100%;
    color: #0033cc;
}


header {
    position: relative;
    height: 60px;
				   
}

header::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}


.nav-menu {
    background: rgba(0, 51, 204, 0.8);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 50px;
}

.nav-menu li {
    margin: 0 15px;
    position: relative;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    position: relative;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}


#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  

.form-container {
    order: 3;
    width: 30%;
    text-align: right;
							
}

.images-container {
    order: 1;
    width: 30%;
    image-align: center;				   
}



#orderDetails {
    order: 2;
    width: 30%;
    text-align: left;
				 
					
}

#number-section {
    text-align: center;
    margin-bottom: 20px;

				  
			 
}

#options-section {
    text-align: center;
    margin-bottom: 20px;
}

.images-table {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 51, 204, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

	   
.rtl-text {
    text-align: right;
}		  
 

	  
				
					   
 

			   
				  
								   
							
			  
				  
 

